<header>
    <div class="top-bar_sub_w3layouts container-fluid">
        <div class="row">
            @await Html.PartialAsync("~/Views/Shared/HeaderPartialView/_headerTopLeft.cshtml")
            @await Html.PartialAsync("~/Views/Shared/HeaderPartialView/_headerTopCenter.cshtml")
            @await Html.PartialAsync("~/Views/Shared/HeaderPartialView/_headerTopRight.cshtml")

        </div>
    </div>

    <div class="header_top" id="home">
        @await Html.PartialAsync("~/Views/Shared/HeaderPartialView/_navbar.cshtml")
    </div>
</header>